<span class="stats {{ stats.class }}">
	{% block name %}
		<span class="name">{{ stats.name }}</span>
	{% endblock %}
	
	{% block stats %}
		<span class="win-rate">
			{% block winRate %}
				<a title="Total Win">{{ stats.totalWin }}</a> /
				<a title="Total Played">{{ stats.totalPlayed }}</a> : 
				<a title="Chance to win">{{ stats.getChanceToWin() }}%</a>
			{% endblock %}
		</span>
		<span class="alive-rate">
			{% block aliveRate %}
				<a title="Total Alive">{{ stats.totalAlive }}</a> /
				<a title="Total Played">{{ stats.totalPlayed }}</a> : 
				<a title="Relative chance to survive">{{ stats.getChanceToLive() }}%</a>
			{% endblock %}
		</span>
	{% endblock %}
</span>