<h3>
	<a title="Details" href="{{ path('odl_shadow_game_view', {'id': game.getId()}) }}">
		{{ game.getPlayTime()  | date("m/d/Y") }}
	</a>
	<small>({{ game.getPlayers() | length }} players)</small>

	{% if is_granted('ROLE_USER') %}
	<span class="right">
		<a href="{{ path('odl_shadow_game_edit', {'id': game.getId()}) }}">Edit</a>
	</span>
	{% endif %}
</h3>

<div class="players">
{% for player in game.getPlayers() %}
	{% set css = player.isWin ? ['won']: [] %}
    {% set css = css|merge(player.getIsAlive() ? []: ['dead']) %}
    {% set css = css|merge(player.getIsLastDeath() ? ['last-dead']: []) %}

	<span class="player {{ css | join(' ')}} {{ player.getUsername() }}">
		<a href="{{ path('odl_shadow_main_player', {'id' : player.getUsername()}) }}">
			<span class="username">{{ player.getUsername() }}
			</span>
		</a>
		<span class="charname">
			{{ player.char.getName() }}
			(<span class="{{ player.char.getFaction() }}">{{ player.char.getFaction() }}</span>)
		</span>
	</span>
{% endfor %}
</div>
