{% extends "OdlShadowBundle::layout.html.twig" %}
{% form_theme formView "OdlShadowBundle:Form:fields_game.html.twig" %}

{% block title %}
	Add a new game!
{% endblock %}

{% block content %}
<div class="container">
	{% if game.id %}
		<h3>Edit game</h3>
	{% else %}
		<h3>Add a new game</h3>
	{% endif %}

	<form method="post" id="add_game" data-players="{{ playerNames | json_encode }}" data-characters="{{ characterNames | json_encode }}">
		{{ form_row(formView.playTime) }}
		{{ form_row(formView.summary) }}

		<div id="form-players" class="row" data-prototype="{{ form_widget(formView.players.vars.prototype) | e }}">
			{% for player in formView.players %}
				{{ form_widget(player) }}
			{% endfor %}
		</div>

		{{ form_errors(formView) }}

		<div class="form-actions">
			<button class="btn btn-primary">Save </button>
			<button class="btn new-player" type="button">Add New Player</button>
		</div>
	</form>
</div>
{% endblock %}
