<h3>{{ game.getName() }} - {{ game.getPlayTime()  | date("m/d/Y") }} 
	({{ game.getPlayers() | length }} players)
	
	<span class="right">
		<a href="{{ path('odl_shadow_main_gameedit', {'id': game.getId()}) }}">Edit</a>
	</span>
</h3>
<div class="players">
{% for player in game.getPlayers() %}
	{% set css = player.isWin ? 'won' : '' %}
	<span class="player {{ css}} {{ player.getUsername() }}">
		<a href="{{ path('odl_shadow_main_player', {'id' : player.getUsername()}) }}">
			<span class="username">{{ player.getUsername() }}
			</span>
		</a>
		<span class="charname">
			{{ player.char.getName() }} 
			(<span class="{{ player.char.getFaction() }}">{{ player.char.getFaction() }}</span>)
		</span>
	</span>
{% endfor %}
</div>
